@import "../valo/valo.scss";

@mixin apptheme {
    @include valo;

    .v-caption-pm-task-label{
        display: contents !important;
    }

    .v-image-transparent-loginRegister-BG {
        background: url('images/loginRegisterBG.jpg');
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;  
    }

    .v-image-transparent-projectView-BG {
        background: url('images/projectViewBG.jpg');
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;  
    }

    .v-transparentBG {
        background-color: transparent;
        border: none;
    }

    .v-white65PercentBG-roundCorners {
        background-color: rgba(255, 255, 255, 0.65);
        border-radius: 15px;
    }

    .v-white55PercentBG-slightlyRoundCorners {
        background-color: rgba(255, 255, 255, 0.55);
        border-radius: 5px;
    }

    .v-white55PercentBG {
        background-color: rgba(255, 255, 255, 0.55);
        border-radius: 0px;
    }

    .v-greyCircleBG-whiteText-13px {
        background-color: #333333;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        font-size: 13px;
        color: white;
        text-align: center;
    }

    .v-text-bold-19px { 
        font-size: 19px;
        font-weight: bold;
    }

    .v-text-bold-17px { 
        font-size: 17px;
        font-weight: bold;
    }

    .v-text-17px { 
        font-size: 17px;
    }

    .v-text-light-14px { 
        font-size: 14px;
        font-weight: lighter;
    }

    .v-text-lineThrough {
        text-decoration: line-through;
    }

    .v-task-done-bg {
        background: url('images/taskDoneBG.png');
        background-color: rgba(255, 255, 255, 1);
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .v-align-center {
        text-align: center;
    }

    .pm-creator{
        text-align: center;
        .v-nativebutton{
            background-color: transparent;
            border: none;
            width: 100%;
            color: blue;
        }
        .v-nativebutton:hover{
            border-radius: 5px;            
            background-color: lightgrey;

        }
    }

    .pm-not-creator{
        .v-nativebutton{
            display:none;            
        }
    }

    .pm-member{
        text-align: center;
        .v-nativebutton{
            background-color: transparent;
            border: none;
            width: 100%;
            color: blue;
        }
        .v-nativebutton:hover{
            border-radius: 5px;            
            background-color: lightgrey;
        }
    }

    .pm-not-member{
        .v-nativebutton{
            display:none;
        }
    }

    .v-invisible-panel{
        border: none;
        background :none;
    }

    $slot-transparicy: 0.6;
    .pm-slot-white{
        background:rgba(255,255,255,$slot-transparicy);
    }

    .pm-slot-green{
        background:rgba(34,139,34,$slot-transparicy);        
    }

    .pm-slot-blue{
        background:rgba(0,0,255,$slot-transparicy);        
    }

    .pm-slot-light-blue{
        background:rgba(0,0,150,$slot-transparicy);        
    }

    .pm-slot-yellow{
        background:rgba(255,255,0,$slot-transparicy);        
    }

    .pm-slot-orange{
        background:rgba(255,165,0,$slot-transparicy);        
    }

    .pm-slot-light-green{
        background:rgba(0,255,0,$slot-transparicy);        

    }

    .pm-slot-amber{
        background:rgba(255,194,0,$slot-transparicy);        
    }

    .pm-slot-prussian-blue{
        background:rgba(0,49,83,$slot-transparicy);        
    }

    .pm-slot-aqua{
        background:rgba(0,255,255,$slot-transparicy);        
    }

    .pm-slot-text{
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
        -webkit-text-fill-color: white;
    }
    .pm-slot-button{
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
        -webkit-text-fill-color: white;    
        font-weight: bolder;
    }
}
